#Modal3.modal.modal-order-call.modal-small.fade(tabindex='-1', role='dialog', aria-labelledby='orderCallModalLabel', aria-hidden='true')
  .container
    .modal-dialog.modal-center.modal-lg(role='document')
      .modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.close-text Закрыть&nbsp;
          span.close-cross(aria-hidden='true') ×
        .modal-header
          h5#orderCallModalLabel.modal-title Заказать звонок
          p Оставьте свои контактные данные и мы перезвоним
        .modal-footer
          form#modalOrderCallForm(method='POST', action=formEmail)
            input.d-none(type='text' name='Форма - Заказать звонок', value='')
            
            label.sr-only(for='modalOrderCallName') Ваше имя
            input#modalOrderCallName.form-control.mb-2.mr-sm-2.mb-sm-0(type='text',
            placeholder='Ваше Имя',
            value='',
            name='Имя',
            required,
            aria-required='true')
            
            label.sr-only(for='modalOrderCallPhone') Ваш телефон
            input#modalOrderCallPhone.form-control.mb-2.mr-sm-2.mb-sm-0(type='tel',
            placeholder='+7 (___) ___-__-__',
            value='',
            name='Телефон',
            required,
            aria-required='true')
            
            button.btn.btn-custom(type='submit') Жду звонка