#ModalDownload.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
  .container
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Заполните форму и <strong>получите бесплатно 5 полезных файлов</strong> по запуску клининговой компании в 2017-2018 году
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.close-text Закрыть&nbsp;
              span.close-cross(aria-hidden='true') ×
          .modal-body
            .row
                .col-md-16
                    h6.modal-list-title ФАЙЛЫ ДЛЯ СКАЧИВАНИЯ
                    ol.modal-list
                        li Презентация франшизы клининговой компании «ЭКСПЕРТ-КЛИНИНГ» (PDF)
                            ul
                                li Что входит в франшизу;
                                li Стоимость франшизы;
                                li Часто задаваемые вопросы;
                        li Финансовая модель (выручка, персонал, расходы, прибыль):
                            ul
                                li Как заработать от 150 000 рублей на клининговых услугах;
                                li Как заработать от 300 000 рублей на клининговых услугах;
                        li Бизнес-план клининговой компании «ЭКСПЕРТ-КЛИНИНГ»:
                            ul
                                li Краткий инвестиционный меморандум;
                                li Описание бизнеса;
                                li Описание рынка покупателей;
                                li Продажи и маркетинг;
                                li Организационная структура;
                                li Факторы риска.
                        li Чек лист «Как определить прибыльность клининговой компании в своем городе»:
                            ul
                                li 7 критериев для работы с частными лицами;
                                li 5 критериев работы с юридическим заказчиком;
                                li Наличие тендеров в вашем регионе.
                        li Топ 30 самых прибыльных услуг в клининговом бизнесе в 2017-2018 году.
                .col-md-8.modal-col-bg
                    .modal-col-bg-inner
                        h6.modal-col-bg-title Заполните форму
                        p и получите <strong>5 файлов</strong><br /> в течение <strong>3-х минут</strong>
                        
                        form#modalDownloadForm(method='post', action='')
                            label.sr-only(for='modalDownloadName') Ваше имя
                            input#modalDownloadName.form-control(type='text',
                            placeholder='Ваше Имя',
                            value='',
                            name='modal-download-name',
                            required,
                            aria-required='true')
                            
                            label.sr-only(for='modalDownloadPhone') Ваш телефон
                            input#modalDownloadPhone.form-control(type='tel',
                            placeholder='+7 (___) ___-__-__',
                            value='',
                            name='modal-download-phone',
                            required,
                            aria-required='true')
                            
                            button.btn.btn-custom.btn-modal-download(type="submit")
                                | <i class="icon icon-download-cloud"></i> Скачать
                            
                            .from-check.form-check-inline.modal1-confirm
                                label.form-check-label
                                    input#modalDownloadAgree.form-check-input(type='checkbox',
                                    required,
                                    aria-required='true',
                                    value='',
                                    name='modal-download-agree')
                                    | &nbsp; Я даю разрешение на обработку моих персональных данных,
                                    | согласно политике конфиденциальности